@model AStwoD.Models.TemplateModel
@{
    ViewBag.Title = "CreateTemplate";
    Layout = "~/Views/Shared/BaseTemplate/_ControlPanelLayout.cshtml";
}
@using (Html.BeginForm())
{
    <h2>Создать новый шаблон</h2>
    <table class="table table-striped">
        <tr>
            <td>
                @Html.LabelFor(x => x.Name)
            </td>
            <td>
                @Html.TextBoxFor(x => x.Name, new { placeholder = "Введите имя шаблона" , title="Только на Латинице и без пробелов" })
            </td>
        </tr>
    </table>

    <h4>@Html.LabelFor(x => x.Content)</h4>
    <select id="components" , title="Установите курсор в нужном месте шаблона, и выберете компонент">
        <option value="">Компоненты</option>
        @foreach (var item in Model.Components)
        {
            <option value="[[@(item.Name)]]">@item.Label</option>    
        }
    </select>
    <pre><code contenteditable id="layout">@Model.Content</code></pre>
    
    <button class="btn btn-info">
        Сохранить
    </button>
    <input type="reset" value="Очистить" class="btn btn-warning" />
}

