@model PagedList.IPagedList<AStwoD.Models.PageModel>
@{
    ViewBag.Title = "PagesForSEO";
    Layout = "~/Views/Shared/BaseTemplate/_ControlPanelLayout.cshtml";
}

<h2>Дерево страниц</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title
            </th>
            <th>Meta Description
            </th>
            <th>Meta Keywords
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: pages">
        @foreach (var item in Model)
        {
            if (item.ID != 0 && item.IsRemove != true)
            {
            <tr>
                <td data-bind="text: id">
                    @item.Title
                </td>
                <td data-bind="text: title">
                    @item.MetaDescription
                </td>
                <td data-bind="text: name">
                    @item.MetaKeywords
                </td>
                <td>
                    <a href="@Url.Action("UpdateForSEO", new { id = @item.ID })"><i class="icon-pencil"></i></a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<div class="pagination">

    <ul>
        <li class="disabled"><a>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount</a></li>
    </ul>

    <ul>

        @if (Model.HasPreviousPage)
        { 
            <li>@Html.ActionLink("<<", "Pages", new { page = 1 })</li>
            <li>@Html.ActionLink("Previous", "Pages", new { page = Model.PageNumber - 1 })</li>
        }
        else
        { 
            <li class="disabled"><a href="#">&laquo</a></li>
            <li class="disabled"><a href="#">Previous</a></li>
        }
        @if (Model.HasNextPage)
        { 
            <li>@Html.ActionLink("Next", "Pages", new { page = Model.PageNumber + 1 })</li>
            <li>@Html.ActionLink(">>", "Pages", new { page = Model.PageCount })</li>
        }
        else
        { 
            <li class="disabled"><a href="#">Next</a></li>
            <li class="disabled"><a href="#">&raquo</a></li>
        }
    </ul>
</div>
