@model AStwoD.Models.TemplateModel
@{
    ViewBag.Title = "Редактировать шаблон";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}
<h2>Редактировать шаблон</h2>
@using (Html.BeginForm())
{
    <table class="table table-striped">
        <tr>
            <td>
                @Html.LabelFor(x => x.Name)
            </td>
            <td>
                @Html.EditorFor(x => x.Name)
            </td>
        </tr>
    </table>

    <h4>@Html.LabelFor(x => x.Content)</h4>
    <select id="components">
        <option value="">Компоненты</option>
        @foreach (var item in Model.Components)
        {
            <option value="[[@(item.Name)]]">@item.Label</option>    
        }
    </select>
    <pre><code contenteditable id="layout">@Model.Content</code></pre>
    <br />
    <div class="btn btn-info" 
         onclick="$.post('UpdateTemplate',
    {'model.Content': $('#layout').text(), 'model.Name': $('#Name').val(), 'model.Id': @Model.ID },
    function(data){
        location=data.url;
        });">
        Сохранить
    </div>
    <input type="reset" value="Очистить" class="btn btn-warning" />
}
