@model AStwoD.Models.PageModel

@{
    ViewBag.Title = "UpdatesForSEO";
    Layout = "~/Views/Shared/_ControlPanelLayout.cshtml";
}

<h2>Редактирование страницы</h2>
@using (Html.BeginForm())
{
    <table class="table table-striped">
        <tr>
            <td>
                @Html.LabelFor(x => x.Title)
            </td>
            <td>
                @Html.EditorFor(x => x.Title)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.MetaDescription)
            </td>
            <td>
                @Html.EditorFor(x => x.MetaDescription)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(x => x.MetaKeywords)
            </td>
            <td>
                @Html.EditorFor(x => x.MetaKeywords)
            </td>
        </tr>
    </table>
    @Html.HiddenFor(x=>x.ID)
    @Html.HiddenFor(x=>x.Content)
    @Html.HiddenFor(x=>x.IsMenu)
    @Html.HiddenFor(x=>x.LabelForMenu)
    @Html.HiddenFor(x=>x.LabelForURL)
    @Html.HiddenFor(x=>x.MenuWeight)
    @Html.HiddenFor(x=>x.ParentID)
    <button class="btn btn-info">
        Сохранить
    </button>
    <input type="reset" value="Очистить" class="btn btn-warning" />
}