@using AStwoD.Infrastructure.HtmlHelpers
@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/css/reset-min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/compatibility.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/global.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic&subset=latin,cyrillic-ext")" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/png" href="@Url.Content("~/Content/img/favicons.ico")" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <script src="@Url.Content("~/Content/js/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.hoverIntent.minified.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery.filestyle.mini.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/global.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/watch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/ga.js")" type="text/javascript"></script>
</head>
<body>

    <div id="container">
        <div class="header">
            <div class="headerHolder">
                <div class="headerLogo">
                    <a href="/index">
                        <img src="@Url.Content("~/Content/img/headerLogo.png")" width="210" height="61" alt="Центр компьютерной поддержки" /></a>
                </div>
                <div class="headerAddresses">

                        <span class="headerPhonesContentCity">Прайс-лист: </span><a href="../../Content/PriceList.doc">Скачать</a>

                    <br />

                </div>
           
                <div class="headerPhones">
                    <div class="headerPhonesTitle">
                        Вызвать специалиста
                    </div>
                    <div class="headerPhonesContent">
                        <span class="headerPhonesContentCity">Москва</span><span class="headerPhonesContentPhone">(495) <span>792-94-71</span></span>
              
                        <div class="separatorLineWhite"></div>
                        <span class="headerPhonesContentOnline"><a href="/RequestRepair">Онлайн-заказ</a></span>
                    </div>
                </div>
                <div class="clear"></div>
             @{Html.RenderAction("GetMenu", "Home");}

            </div>
        </div>
        <div class="separatorLineGray"></div>
        <div class="action-container">
            <a class="action" ">
                <span class="action-title"> <!--Антивирус в подарок-->Сайт находится в разработке
                </span>
                <span class="action-content"><!--При обращении в сервисный центр с 1 по 30&nbsp;июня  — 6 месяцев антивирусной защиты в подарок.-->
                </span>
            </a>
        </div>
        
        <div class="content">
          @Html.GetComponent("Left")
            <div class="contentRightSidebar">
               @RenderBody()

            </div>

            <div class="clear"></div>
        </div>


   <div class="footer">


<div class="separatorLineGrayGreen"></div>
<div class="footerLinksBlock">
<div class="footerLinksBlockColumn">
<ul>
<li>
<strong>Ремонт и модернизация</strong>
</li>
<li>
<a href="/services/computer-repair">Ремонт компьютеров</a>
</li>
<li>
<a href="/services/laptop-repair">Ремонт ноутбуков</a>
</li>
<li>
<a href="/services/apple-laptop-repair">Ремонт ноутбуков Apple</a>
</li>
<li>
<a href="/services/upgrading-your">Модернизация компьютера</a>
</li>
<li>
<a href="/services/monitor-repair">Ремонт мониторов</a>
</li>
<li>
<a href="/services/printer-repair">Ремонт принтеров</a>
</li>
<li>
    <br /> <br /> <br /> <br />
        <div id="scri">
<!--LiveInternet counter--><script type="text/javascript"><!--
    document.write("<a href='http://www.liveinternet.ru/click' " +
    "target=_blank><img src='//counter.yadro.ru/hit?t25.2;r" +
    escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
    ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
    screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
    ";" + Math.random() +
    "' alt='' title='LiveInternet: показано число посетителей за" +
    " сегодня' " +
    "border='0' width='88' height='15'><\/a>")
    //--></script><!--/LiveInternet-->
        </div>
</li>



</ul>
</div>
<div class="footerLinksBlockColumn">
<ul>
<li>
<strong>Настройка и обслуживание</strong>
</li>
<li>
<a href="/services/installing-windows">Установка Windows</a>
</li>
<li>
<a href="http://aquabit.ru/installation-of-anti-virus-protection">Антивирусная защита</a>
</li>
<li>
<a href="/services/data-recovery">Восстановление данных</a>
</li>
<li>
<a href="/services/subscription-service">Абонентское обслуживание</a>
</li>
</ul>
</div>
<div class="footerLinksBlockColumn">
<ul>
<li>
<strong>Интернет и сети</strong>
</li>
<li>
<a href="/services/set-wireless-wi-fi-network">Комплект
<br>
«Беспроводная Wi-Fi сеть»</a>
</li>
<li>
<a href="/services/set-setting-wimax">Комплект «Настройка WiMAX»</a>
</li>
<li>
<a href="/services/set-setting-skyLink">Комплект «Настройка SkyLink»</a>
</li>
<li>
<a href="/services/setting-up-the-server">Настройка сервера</a>
</li>
<li>
<a href="/services/termaccess">Настройка терминального доступа</a>
</li>
<li>
<a href="/services/setting-the-internet">Установка Интернета</a>
</li>
<li>
<a href="/services/set-wireless-wi-fi-network">Установка беспроводного Интернета</a>
</li>
<li>
<a href="/services/lan-setup">Настройка локальной сети</a>
</li>
</ul>
</div>
<div class="footerLinksBlockColumn last">
<a href="/index"><img src="@Url.Content("~/Content/img/footerLinksBlockContactsIcon.png")" width="190" height="125" alt="Контактная информация"></a>

</div>
<div class="clear"></div>
</div>

</div>

    </div>
   @MiniProfiler.RenderIncludes()
</body>
</html>

